In [1]:
import pandas as pd
import janitor
import sidetable
from IPython.display import display

In [2]:
browser_group = {
    "ChromeBrowserPlugin": "Chrome",
    "Google Chrome": "Chrome",
    "Google": "Chrome",
    "FirefoxBrowserPlugin": "Firefox",
    "Firefox": "Firefox",
    "Microsoft Edge": "Microsoft",
    "MS Edge": "Microsoft",
    "SafariBrowserPlugin": "Safari",
    "Safari": "Safari",
    "Internet (Android Browser)": "Other Browsers",
    "Opera": "Other Browsers",
    "Opera Mini": "Other Browsers",
    "Internet Explorer": "Other Browsers",
    "Thunderbird": "Other Browsers"
}


df = (
    pd.read_csv("../data/yg/realityMine_web_2022-06-01_2022-06-30.csv")
    .assign(browser_group=lambda df_: df_["browser_vendor"].map(browser_group))
)
display(df.head())
df.info(verbose=True)

/tmp/ipykernel_8749/2072079445.py:20: DtypeWarning: Columns (14,17) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv("../data/yg/realityMine_web_2022-06-01_2022-06-30.csv")

,caseid,group_name,client_id,client_key,os_name,os_version,device_manufacturer,device_model,device_type,session_start_time,...,content_type,content_length,search_term,page_duration,private_domain,category,page_url_anonymized,predecessor_url_anonymized,succesor_url_anonymized,browser_group
0,262543201,YouGov.USA,3939812436,lvni7yj5xjdehlaizs7y7bo3pi,Windows,10,ASUSTeK COMPUTER INC.,ROG Strix G712LWS_G712LWS,Laptop/Desktop,2022-06-07 19:32:42.634,...,NaN,NaN,NaN,5,heb.com,"Food and Recipes, Shopping",https://www.heb.com/,NaN,https://www.heb.com/weekly-ads/weekly-deals/,Chrome
1,262543201,YouGov.USA,3939812436,lvni7yj5xjdehlaizs7y7bo3pi,Windows,10,ASUSTeK COMPUTER INC.,ROG Strix G712LWS_G712LWS,Laptop/Desktop,2022-06-07 19:32:47.937,...,NaN,NaN,NaN,9,heb.com,"Food and Recipes, Shopping",https://www.heb.com/weekly-ads/weekly-deals/,https://www.heb.com/,https://www.kroger.com/savings/weeklyad/,Chrome
2,262543201,YouGov.USA,3939812436,lvni7yj5xjdehlaizs7y7bo3pi,Windows,10,ASUSTeK COMPUTER INC.,ROG Strix G712LWS_G712LWS,Laptop/Desktop,2022-06-07 19:35:00.322,...,NaN,NaN,NaN,40,kroger.com,"Business, Shopping",https://www.kroger.com/savings/weeklyad/,https://www.heb.com/weekly-ads/weekly-deals/,https://www.google.com/search?ANONYMIZED,Chrome
3,262543201,YouGov.USA,3939812436,lvni7yj5xjdehlaizs7y7bo3pi,Windows,10,ASUSTeK COMPUTER INC.,ROG Strix G712LWS_G712LWS,Laptop/Desktop,2022-06-07 19:35:40.594,...,NaN,NaN,smas,9,google.com,Search Engines and Portals,https://www.google.com/search?ANONYMIZED,https://www.kroger.com/savings/weeklyad/,https://www.google.com/search?ANONYMIZED,Chrome
4,262543201,YouGov.USA,3939812436,lvni7yj5xjdehlaizs7y7bo3pi,Windows,10,ASUSTeK COMPUTER INC.,ROG Strix G712LWS_G712LWS,Laptop/Desktop,2022-06-07 19:35:49.116,...,NaN,NaN,samsclub,10,google.com,Search Engines and Portals,https://www.google.com/search?ANONYMIZED,https://www.google.com/search?ANONYMIZED,https://www.samsclub.com/,Chrome

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4459370 entries, 0 to 4459369
Data columns (total 28 columns):
 #   Column                      Dtype
---  ------                      -----
 0   caseid                      int64
 1   group_name                  object
 2   client_id                   int64
 3   client_key                  object
 4   os_name                     object
 5   os_version                  object
 6   device_manufacturer         object
 7   device_model                object
 8   device_type                 object
 9   session_start_time          object
 10  start_time_utc              object
 11  date                        object
 12  time                        object
 13  page_domain                 object
 14  referer                     object
 15  browser_vendor              object
 16  browser_version             float64
 17  ref_domain                  object
 18  content_type                object
 19  content_length              float64
 20  search_term                 object
 21  page_duration               int64
 22  private_domain              object
 23  category                    object
 24  page_url_anonymized         object
 25  predecessor_url_anonymized  object
 26  succesor_url_anonymized     object
 27  browser_group               object
dtypes: float64(2), int64(3), object(23)
memory usage: 952.6+ MB

## Summ OS

### Visits level

In [3]:
df.stb.freq(["os_name"], sort_cols=False)

   os_name    count    percent  cumulative_count  cumulative_percent
0  Windows  3629839  81.398023           3629839           81.398023
1  Android   553218  12.405743           4183057           93.803766
2      OSX   276313   6.196234           4459370          100.000000

In [4]:
df.stb.freq(["os_name", "os_version"], sort_cols=False)

,os_name,os_version,count,percent,cumulative_count,cumulative_percent
0,Windows,10,3394797,76.127278,3394797,76.127278
1,OSX,10.16.0,216853,4.862862,3611650,80.990140
2,Android,12,187873,4.212994,3799523,85.203134
3,Windows,7 Service Pack 1,175525,3.936094,3975048,89.139228
4,Android,10,154182,3.457484,4129230,92.596712
5,Android,11,100428,2.252067,4229658,94.848779
6,Android,9,87634,1.965165,4317292,96.813945
7,Windows,8.1,52692,1.181602,4369984,97.995546
8,OSX,10.15.7,36576,0.820206,4406560,98.815752
9,OSX,10.13.6,15257,0.342134,4421817,99.157886
10,Android,8.0.0,9507,0.213192,4431324,99.371077
11,OSX,10.12.6,7106,0.159350,4438430,99.530427
12,Android,8.1.0,6378,0.143025,4444808,99.673452
13,Android,7.1.1,4608,0.103333,4449416,99.776785
14,Windows,8,4003,0.089766,4453419,99.866551
15,Windows,10.0,2822,0.063282,4456241,99.929833
16,Android,7.0,1766,0.039602,4458007,99.969435
17,OSX,10.14.1,521,0.011683,4458528,99.981118
18,Android,10.0,350,0.007849,4458878,99.988967
19,Android,6.0.1,197,0.004418,4459075,99.993385
20,Android,5.0,112,0.002512,4459187,99.995896
21,Android,11.0,110,0.002467,4459297,99.998363
22,Android,12.0,51,0.001144,4459348,99.999507
23,Android,13,19,0.000426,4459367,99.999933
24,Android,9.0,3,0.000067,4459370,100.000000

In [5]:
df.stb.freq(["os_name", "os_version", "browser_vendor"], sort_cols=False)

,os_name,os_version,browser_vendor,count,percent,cumulative_count,cumulative_percent
0,Windows,10,ChromeBrowserPlugin,1713219,38.418409,1713219,38.418409
1,Windows,10,Microsoft Edge,700519,15.708923,2413738,54.127332
2,Windows,10,Google Chrome,486857,10.917618,2900595,65.044950
3,Windows,10,FirefoxBrowserPlugin,450057,10.092390,3350652,75.137340
4,Android,12,Google Chrome,170061,3.813566,3520713,78.950906
...,...,...,...,...,...,...,...
83,OSX,10.12.6,Google Chrome,3,0.000067,4459361,99.999798
84,Android,9.0,Internet (Android Browser),3,0.000067,4459364,99.999865
85,Android,8.0.0,Google,3,0.000067,4459367,99.999933
86,OSX,10.14.1,SafariBrowserPlugin,2,0.000045,4459369,99.999978
87,Android,7.1.1,Google,1,0.000022,4459370,100.000000

### Ind level

In [52]:
df_ind_os = (
    df
    .groupby(["caseid", "os_name"])
    .size()
    .reset_index(name="visits_count")
    .sort_values(["caseid", "visits_count"], ascending=(True, False))
    # Filter below 5 uses of an OS
    .query("visits_count > 5")
)
df_ind_os

         caseid  os_name  visits_count
0         47541  Windows          9374
1         56565  Windows          6193
2        203271  Windows          3448
3        216457  Windows           943
4        257495  Windows          5851
...         ...      ...           ...
1148  342376013  Windows          4765
1149  342383477  Android           741
1150  343144813  Windows           558
1151  343195461  Android           442
1152  343466645  Android           815

[1137 rows x 3 columns]

In [54]:
df_ind_os[df_ind_os.duplicated("caseid", keep=False)].reset_index(drop=True)

       caseid  os_name  visits_count
0      576397  Windows          4551
1      576397  Android          1301
2     2330841  Windows          5111
3     2330841  Android           219
4     2497535  Windows         11895
5     2497535  Android           405
6     2763809      OSX           661
7     2763809  Windows            45
8     8834669  Windows         19799
9     8834669  Android           252
10    9200625  Android         10742
11    9200625  Windows           351
12   46788081  Windows          8584
13   46788081  Android           128
14   55773869  Android          2633
15   55773869      OSX           174
16   74622479  Windows          9898
17   74622479  Android           896
18   82578073  Windows          7101
19   82578073  Android            68
20  211431193  Windows          2680
21  211431193  Android           554
22  305647821  Android           848
23  305647821  Windows           157
24  335799517  Windows         18806
25  335799517  Android           113
26  339051189      OSX          3912
27  339051189  Android           282

In [74]:
df_ind_os.stb.freq(["os_name"], sort_cols=False)

   os_name  count    percent  cumulative_count  cumulative_percent
0  Windows    617  54.265611               617           54.265611
1  Android    448  39.401935              1065           93.667546
2      OSX     72   6.332454              1137          100.000000

## Browser

### Visits level

In [8]:
df.stb.freq(["browser_vendor"], sort_cols=False)

,browser_vendor,count,percent,cumulative_count,cumulative_percent
0,ChromeBrowserPlugin,1872437,41.988824,1872437,41.988824
1,Google Chrome,1112950,24.957561,2985387,66.946385
2,Microsoft Edge,716683,16.071396,3702070,83.017781
3,FirefoxBrowserPlugin,542116,12.156784,4244186,95.174565
4,SafariBrowserPlugin,77866,1.746121,4322052,96.920686
5,Firefox,54801,1.228896,4376853,98.149582
6,Internet (Android Browser),42562,0.954440,4419415,99.104021
7,Opera,26944,0.604211,4446359,99.708232
8,MS Edge,6250,0.140154,4452609,99.848387
9,Google,3365,0.075459,4455974,99.923846
10,Thunderbird,2584,0.057945,4458558,99.981791
11,Internet Explorer,774,0.017357,4459332,99.999148
12,Opera Mini,27,0.000605,4459359,99.999753
13,Safari,11,0.000247,4459370,100.000000

### Ind level

In [78]:
df_ind_browser = (
    df
    .groupby(["caseid", "browser_vendor"])
    .size()
    .reset_index(name="visits_count")
    .sort_values(["caseid", "visits_count"], ascending=(True, False))
    # Filter below 5 uses of a browser
    .query("visits_count > 5")    
)
df_ind_browser

         caseid     browser_vendor  visits_count
0         47541     Microsoft Edge          9374
1         56565     Microsoft Edge          6193
2        203271     Microsoft Edge          3448
3        216457      Google Chrome           943
6        257495      Google Chrome          4443
...         ...                ...           ...
1812  342383477      Google Chrome           741
1813  343144813      Google Chrome           539
1814  343144813  Internet Explorer            19
1815  343195461      Google Chrome           438
1817  343466645      Google Chrome           815

[1578 rows x 3 columns]

In [79]:
df_ind_browser[df_ind_browser.duplicated("caseid", keep=False)]

         caseid              browser_vendor  visits_count
6        257495               Google Chrome          4443
4        257495         ChromeBrowserPlugin          1184
7        257495                       Opera           205
5        257495        FirefoxBrowserPlugin            19
9        283951               Google Chrome           353
...         ...                         ...           ...
1805  342168337                      Google            13
1809  342368009               Google Chrome          1633
1810  342368009  Internet (Android Browser)            47
1813  343144813               Google Chrome           539
1814  343144813           Internet Explorer            19

[817 rows x 3 columns]

In [81]:
df_ind_browser.stb.freq(["browser_vendor"], sort_cols=False)

,browser_vendor,count,percent,cumulative_count,cumulative_percent
0,Google Chrome,462,40.704846,462,40.704846
1,ChromeBrowserPlugin,367,32.334802,829,73.039648
2,Microsoft Edge,134,11.806167,963,84.845815
3,FirefoxBrowserPlugin,69,6.079295,1032,90.925110
4,Internet (Android Browser),41,3.612335,1073,94.537445
5,SafariBrowserPlugin,20,1.762115,1093,96.299559
6,Firefox,18,1.585903,1111,97.885463
7,Google,9,0.792952,1120,98.678414
8,Opera,7,0.616740,1127,99.295154
9,MS Edge,6,0.528634,1133,99.823789
10,Thunderbird,1,0.088106,1134,99.911894
11,Opera Mini,1,0.088106,1135,100.000000

## Browsers grouped

### Visits level

In [87]:
df.stb.freq(["browser_group"], sort_cols=False)

    browser_group    count    percent  cumulative_count  cumulative_percent
0          Chrome  2988752  67.021844           2988752           67.021844
1       Microsoft   722933  16.211550           3711685           83.233394
2         Firefox   596917  13.385680           4308602           96.619074
3          Safari    77877   1.746368           4386479           98.365442
4  Other Browsers    72891   1.634558           4459370          100.000000

### Ind level

In [88]:
df_ind_browsergroup = (
    df
    .groupby(["caseid", "browser_group"])
    .size()
    .reset_index(name="visits_count")
    .sort_values(["caseid", "visits_count"], ascending=(True, False))
    # Filter below 5 uses of a browser
    .query("visits_count > 5")    
)
df_ind_browsergroup

         caseid   browser_group  visits_count
0         47541       Microsoft          9374
1         56565       Microsoft          6193
2        203271       Microsoft          3448
3        216457          Chrome           943
4        257495          Chrome          5627
...         ...             ...           ...
1540  342383477          Chrome           741
1541  343144813          Chrome           539
1542  343144813  Other Browsers            19
1543  343195461          Chrome           438
1545  343466645          Chrome           815

[1448 rows x 3 columns]

In [89]:
df_ind_browsergroup.stb.freq(["browser_group"], sort_cols=False)

    browser_group  count    percent  cumulative_count  cumulative_percent
0          Chrome    950  65.607735               950           65.607735
1       Microsoft    213  14.709945              1163           80.317680
2         Firefox    132   9.116022              1295           89.433702
3  Other Browsers    121   8.356354              1416           97.790055
4          Safari     32   2.209945              1448          100.000000

## OSVer-Browser

In [10]:
df_ind_os_ver_browser = (
    df
    .groupby(["caseid", "os_name", "os_version", "browser_group"])
    .size()
    .reset_index(name="visits_count")
    .sort_values(["caseid", "visits_count"], ascending=(True, False))
)
df_ind_os_ver_browser

         caseid  os_name os_version   browser_group  visits_count
0         47541  Windows         10       Microsoft          9374
1         56565  Windows         10       Microsoft          6193
2        203271  Windows         10       Microsoft          3448
3        216457  Windows         10          Chrome           943
4        257495  Windows         10          Chrome          5627
...         ...      ...        ...             ...           ...
1614  343144813  Windows         10          Chrome           539
1615  343144813  Windows         10  Other Browsers            19
1616  343195461  Android         11          Chrome           438
1617  343195461  Android         11  Other Browsers             4
1618  343466645  Android         11          Chrome           815

[1619 rows x 5 columns]

In [11]:
df_ind_os_ver_browser[df_ind_os_ver_browser.duplicated("caseid", keep=False)].reset_index(drop=True)

        caseid  os_name os_version   browser_group  visits_count
0       257495  Windows         10          Chrome          5627
1       257495  Windows         10  Other Browsers           205
2       257495  Windows         10         Firefox            19
3       283951  Windows         10          Chrome           392
4       283951  Windows         10       Microsoft            58
..         ...      ...        ...             ...           ...
887  342368009  Android         11  Other Browsers            47
888  343144813  Windows         10          Chrome           539
889  343144813  Windows         10  Other Browsers            19
890  343195461  Android         11          Chrome           438
891  343195461  Android         11  Other Browsers             4

[892 rows x 5 columns]

In [12]:
df_ind_os_ver_browser.stb.freq(["os_name", "os_version", "browser_group"], sort_cols=False)

,os_name,os_version,browser_group,count,percent,cumulative_count,cumulative_percent
0,Windows,10,Chrome,468,28.906733,468,28.906733
1,Windows,10,Microsoft,216,13.341569,684,42.248301
2,Android,12,Chrome,126,7.782582,810,50.030883
3,Android,10,Chrome,121,7.473749,931,57.504632
4,Android,11,Chrome,118,7.288450,1049,64.793082
...,...,...,...,...,...,...,...
56,Android,8.1.0,Other Browsers,1,0.061767,1615,99.752934
57,Android,7.0,Other Browsers,1,0.061767,1616,99.814700
58,Android,5.0,Other Browsers,1,0.061767,1617,99.876467
59,Android,5.0,Chrome,1,0.061767,1618,99.938233
60,Android,13,Chrome,1,0.061767,1619,100.000000